{% extends 'base.html' %}
{% block content %}
<h2 class="text-center py-3">マイカート</h2><hr>
{% if items %}
  {% for item in items %}
    <div class="card border-dark mb-3 offset-1" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-5">
          {% if item.picture %}
            <img width="100%" height="100%" src="{{ item.picture.url }}">
          {% endif %}
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text"><br>{{ item.price }}円</p>
            <p class="card-text">{{ item.quantity }}個<br>
              {% if not item.in_stock %}
              在庫数を超えています。変更してください
              {% endif %}
            </p>
            <a class="btn btn-primary" href="{% url 'stores:update_cart' pk=item.id %}">変更する</a>
            <a class="btn btn-danger" href="{% url 'stores:delete_cart' pk=item.id %}">削除する</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <hr>
  <h3 class="offset-9">合計: {{ total_price }}円</h3>
  <a class="offset-9 btn btn-secondary" href="{% url 'stores:input_address' %}">購入手続きへ</a>
{% else %}
  <h2>カートの中に商品が入っていません</h2>
{% endif %}
{% endblock %}