{% extends 'base.html' %}
{% block content %}
<div class="col-10 offset-1">
  <h2 class="text-center py-3">送り先設定</h2>
  <hr>
  <h3>過去に利用したアドレス</h3>
  {% for address in addresses %}
  <p><a href="{% url 'stores:input_address' pk=address.id %}">{{ address }}</a></p>
  {% endfor %}
  <hr>
  <div class="card col8">
    <div class="card-header">
      住所を設定する
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <input type="submit" class="btn btn-outline-secondary my-1" value="設定する">
      </form>
    </div>
  </div>
</div>
{% endblock %}

