{% extends 'base.html' %}
{% block customcss %}
<style type="text/css">
    a:hover {
        opacity: 0.2;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">商品一覧</h1>
                <div class="card">
                    <div class="card-header">
                        商品を絞り込む
                    </div>
                    <div class="card-body">
                        <form method="get" action="{% url 'stores:product_list' %}">
                            <p>
                                商品タイプ:　
                                <select name="product_type_name">
                                    <option value=""></option>
                                    {% for type in type_list %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </p><hr>
                            <p>商品名:　<input type="text" name="product_name" value="{{ product_name }}"/></p><hr>
                            <p>値段で並び替える:　
                                <input type="radio" name="order_by_price" value="1" {% if ascending %}checked{% endif %}>　昇順　
                                <input type="radio" name="order_by_price" value="2" {% if descending %}checked{% endif %}>　降順
                            </p><hr>
                            <p>
                                <input type="submit" class="btn btn-outline-secondary my-1" value="絞り込む"/>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row">
                {% for product in object_list %}
                <div class="col-lg-4 col-sm-6">
                    <div class="card shadow-sm">
                        <a href="{% url 'stores:product_detail' pk=product.id %}" ><img width="100%" height="225" src="{{ product.productpictures_set.first.picture.url }}"></a>
                        <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                            <p class="card-text">{{ product.price }}円</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}