<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   {% load static %}
   {% block customcss %}
   <link href="{% static 'style.css' %}" rel="stylesheet">
   {% endblock customcss %}
</head>
{% block content %}

<body class="text-center">
   <main class="form-signin">
      {% if form.errors %}
         <div class="alert alert-danger" role="alert">
            {{form.non_field_errors}}
         </div>
      {% endif %}
      <h1 class="h3 mb-3 fw-normal py-3">ログイン</h1>
      <form method="post" class="form-group">
         {% csrf_token %}
         {% for item in form %}
            {% if item.field.widget.input_type == 'checkbox' %}
               <div class="checkbox mb-3">
                  <label>
                     <input type="{{item.field.widget.input_type}}" name="{{item.name}}"> {{item.label}}
                  </label>
               </div>
            {% else %}
               <input type="{{item.field.widget.input_type}}" class="form-control" {% if item.field.required %}required{% endif %} placeholder="{{item.label}}" name="{{item.name}}">
            {% endif %}
         {% endfor %}
         <input type="hidden" name="next" value="{{ request.GET.next }}">
         <button class="w-100 btn btn-lg btn-primary" type="submit">ログイン</button>
      </form>
      <a class="navbar-brand" href="{% url 'accounts:regist' %}">ユーザー登録</a>
   </main>
</body>
{% endblock %}